body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f0eed6;
    height: 100vh;
    position: relative;
  }


  .wave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff4444, #000000);
    background-size: 200% 200%;
    animation: waveAnimation 20s ease infinite;
    z-index: -1;
}


@keyframes waveAnimation {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}


  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #sections {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #sections > div {
    text-align: center;
    margin: 0 100px;
    font-size: 25px
  }

  #sections > div:not(.name-image-container):hover {
    color: #ff6464;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    cursor: default;
  }
  
  .image-wrapper img {
    height: auto;
    cursor: default;
    width: 200px
  }

  .name-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
  }

  .name {
    font-size: 50px;
    cursor: default;
  }
  .email {
    font-size: 25px;
    cursor: default;
  }

  .link-text {
    text-align: center;
    cursor: pointer;
    margin: 0 20px;
    font-size: 30px;
  }

  .link-text:hover {
    color: #ff6464; 
    text-decoration: underline; 
  }


  #sections > a {
    text-decoration: none;
    color: inherit; 
    margin: 0 100px;
    font-size: 35px;
    cursor: default;
  }


  .back-button-container {
    text-align: center;
    margin-top: 10px; /* Space between the top of the page and the button */
    position: fixed; /* Keeps the button visible at the top of the page */
    top: 0;
    width: 100%;
    background-color: transparent; /* Light background to distinguish it */
    padding: 10px 0; /* Adds some padding around the button */
    z-index: 1000; /* Ensures it stays above other content */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
}


/* Back button styling */
.back-button {
  text-decoration: none; /* Removes underline */
  font-size: 1rem; /* Adjust text size */
  font-weight: bold;
  color: #000000; 
  padding: 10px 20px; /* Padding inside the button */
  border: 2px solid #000000;
  border-radius: 5px; /* Rounded corners */
  background-color: #f0eed6; /* White background */
  transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
}

.back-button:hover {
  background-color: #FF6464; /* Blue background on hover */
  color: black; /* White text on hover */
}

.copyEmailButton {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none; /* Removes underline */
  font-size: 1rem; /* Adjust text size */
  font-weight: bold;
  color: #000000; 
  padding: 1px 3px; /* Padding inside the button */
  border: 1px solid #000000;
  border-radius: 5px; /* Rounded corners */
  background-color: #f0eed6; /* White background */
  transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
  cursor: pointer;
  box-sizing: border-box;
}

.copyEmailButton:hover {
  background-color: #FF6464;
  color: black;
}